.content {width: 50%; background-color: black; border-radius: 4%;}

form#Página1 {margin: 4%;}

.containerforms{padding-top:8%;text-align: center;width:50%}

.forms h2 {
    color: white;
    text-align: center;
}

.forms p {
    color: white;
    text-align: center;
    font-size: 150%;
    padding-right: 2%;
    padding-left: 2%;
}

.texto {
    width: 50%;
}

.forms {display: flex; justify-content: right; padding-right: 2%; padding-left: 2%; padding-bottom: 10%; padding-top: 5%;
    background-image: url("../images/inscricao.png"); background-repeat: repeat-y;}

.msg-erro{
    color: white; 
    margin-bottom: 4%;
}


/* Formulário */

#Página1 h2 {
    color: white;
    font-size: 45px;
}

input::placeholder {
    color: black;
  }

input#Nome-Completo {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#E-mail {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Documento-\(CPF\/RG\) {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Cidade {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

select#Estado {
    width: 100%;
    padding: 10px 8px;
    color: black;
    border: 2px solid black;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Universidade {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Formato-\(presencial\/EAD\) {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Número-de-matrícula {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Curso {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

select#Trabalha\? {
    padding: 10px 8px;
    color: black;
    border: 2px solid black;
    width: 100%;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
}

select#Necessidades-especiais\? {
    width: 100%;
    padding: 10px 8px;
    color: black;
    border: 2px solid black;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#Se-sim-escreva-aqui {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input[type="submit"] {
    background-color: white;
    color: black;
    font-size: 100%;
    border-radius: 1rem;
}

/* Formulário */

@media (max-width: 1024px) {

 }


@media (max-width: 767px) {

 }

@media (max-width: 479px) {
    #Página1 h2 {
        font-size: 30px;
    }

    .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-radius:0%;
}

    .btn-active:hover {color: black;}

    #home {
        background-image: url("../images/inscricao.png"); background-repeat: repeat-y;
    }

 }


@media (max-width: 376px) {

 }

@media (max-width: 320px) { 

}